*
**
!.zshrc
!.gitignore
!.ideavimrc
!.oh-my-zsh
!.oh-my-zsh/fsh
!.oh-my-zsh/fsh/**
!.oh-my-zsh/pretty-prompt.png
!.oh-my-zsh/themes
!.oh-my-zsh/themes/paradoxromao.zsh-theme
!git-prompt.sh
!README.MD