[includeIf "gitdir:~/Projects/Personal/"]
    path = ~/Projects/Personal/.gitconfig
[includeIf "gitdir:~/Projects/Company/"]
    path = ~/Projects/Company/.gitconfig
[includeIf "gitdir:~/Projects/Client/"]
    path = ~/Projects/Client/.gitconfig
[includeIf "gitdir:~/WoorkRoot/"]
    path = ~/Projects/Client/.gitconfig
[user]
    name = Rafael Romão
    useConfigOnly = true
[pull]
	rebase = true
